/*/////////body////////// */
body{
    background-color: black;
    font-style: italic;
    font-size: 90%;
    font-family: Arial,'lucida sans unicode';
    line-height: 1.5;
    text-align: left;	}

/*/////////Top Header////////// */
a{text-decoration: none;}
a:link ,a:visited{color:#3498db;}
a:hover ,a:active{color:#d35400;}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.topheader img {
width: 100%;
height: 200px;
border-radius: 10px;
	--webkit--border-radius: 10px;
	--moz--border-radius: 10px;	
}
.topheader nav{
	background-color: #c0392b;
	height: 50px;
	width: 100%	;
	border-radius: 10px;
	--webkit--border-radius: 10px;
	--moz--border-radius: 10px;
	margin-top: 13px;
}
.topheader nav ul {
	text-align: : center;
	list-style: none ;
	margin: 0 auto;
}
.topheader nav ul li {
    display: inline;
    
    margin-right: 70px;
}
.topheader nav a:link , a:visited {
	color: white ;
	display: inline-block;
	font-size: 20px;
	padding:10px 40px ; 
}   
.topheader nav a:hover , a:active {
	background-color: #e74c3c ;
}

section {
	background-color: #fff ;
	border-radius: 10px;
	--webkit--border-radius: 10px;
	--moz--border-radius: 10px;
	padding: 4px 4px 4px 4px ;
	margin-bottom: 15px;
	float: left;

}
section footer {
	float: right;
}
section footer a {
	a:link ,a:visited{color:#3498db;
a:hover ,a:active{color:#d35400;}

